name: Run ESLint

on:
  push:
    branches: 
         - master
  pull_request:
    branches:
         - master

jobs:
  eslint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4 
      - name: Install dependencies
        run: npm install
      - name: Run ESLint
        uses: stefanoeb/eslint-action@1.0.2 # Or another suitable ESLint action
        with:
          files: 'src/' # Specify files or directories to lint